/* FONTS*/

@font-face {
  font-family: bit;
  src: url(../font/BIT.TTF);
}

@font-face {
  font-family: min;
  src: url(../font/Minecraft.TTF);
}

.bit{
  font-family: bit;
}

.min{
  font-family: min;
}

/* Img */

.pokimg{
  max-height: 100px;
  max-width: 100%;
  float: right;
}

.poksmall{
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.fed{
  min-height: 70px;
  max-height: 70px;
  margin-right: 5px;
  float: right;
}

.bou{
  max-height: 120px;
  margin-left: 5px;
}

.pik, .txt{
  width: calc(100px + 1.5vw);
  margin-top: 15px;
  min-width: 100px;
  float: right;
  x-index: -10;
}

.pik{
  position: absolute;
  right: 0;
  top: 10px;
  margin-bottom: 100px;
}

.txt{
  position: absolute;
  right: 110px;
  top: 0;
}

@media (max-width:500px) {

  .txt{
    display: none
  }

  .pik{
    position: absolute;
    right: 0px;
    top: -10px;
  }

 }

/*INTRO*/

.intro > h5, .foftxt > h5{
  font-size:calc(12px + 1vw);
  margin: 0px;
}


.intro{
  margin: 10px 0px 0px 20px;
  display: inline-block;
  width: 90%;
  max-height: 200px;
}

/*GENERAL DESIGN*/

 .td-img{
   width:100px;
 }

 .tr-dtl > td{
   width: 25% !important;
 }

.intro > h2, .foftxt > h2{
  font-size:calc(12px + 3vw);
  line-height: calc(12px + 3vw);
  margin: 0px;
}

.mrg-top-15{
  padding-top: 15px;
}


.about{
  position: fixed;
  bottom: 0;
  right: 5%;
}

.exp > tbody > tr > td, .exp > p{
  padding: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.exp > tbody > tr > td > ul {
    list-style-type: square;
}

.pokdsc{
  line-height: 11pt;
  font-size: 10pt;
  padding: 0;

}

.dscimg > img{

  max-height: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dscimg > text{
  font-weight: 900;
  font-size: 10pt;
  color: rgb(77,77,77);
  padding-top: 12px;
}

.pokname{
  font-size: 12pt;
  font-weight: 900;
}

.advanced, .basic{
  transition: all 0.5s ease;
}

.check{
  transition: all 0.5s ease;
  border: none;
  color: white;
  padding: 4px;
  margin-bottom: 5px;
}

.fof, .abo{

  background-position: bottom;
  background-attachment: fixed;
  background-size:  100%;
  background-repeat: no-repeat;
}
.fof{
  background-image: url('../img/wlp.jpg');
  background-color: #FF7E00;
}
.abo{
  width:100%;
  padding: 20px;
}

.foftxt{
  color:white;
  padding: 20px 0px 0px 30px;
  width: 100%;
}

/*THEME COLOR*/

.magic-box-hasFocus{
 box-shadow:0px 0px 3px purple;
 border-color: purple !important;
}

.coveo-bar{
 fill: rgb(250,0,70) !important;
}

.coveo-results-per-page-list-item.coveo-active, .coveo-facet-header, .coveo-results-per-page-list-item:hover, .check{
  background-color: purple !important;
}

.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover {
  border-bottom: 4px solid purple !important;
  padding-bottom: 0px;
}

/*General mods to Coveo components*/

.coveo-facet-column{
  width: inherit !important;
}

.coveo-facet-header{
  color: white;
  font-size: 7pt;
  font-family: bit;
}

.coveo-facet-header-title{
  font-size: 8pt !important;
}

.coveo-facet-value{
  line-height: 12pt !important;
  font-size: 11pt;
}

.CoveoSort.coveo-selected, .coveo-small-tabs .CoveoTab.coveo-selected p, .coveo-small-tabs .CoveoTab.coveo-selected:hover p{
  border: none !important;
}
