<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#800080" />
    <meta name="description" content="POKEMON FINDER" />
    <meta name="author" content="VincentBern" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>POKEMON FINDER</title>
    <link rel="stylesheet" href="../css/poke.css" type="text/css" />
    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.9159/css/CoveoFullSearch.min.css" />
    <link rel="icon" href="../img/pkb.png?v=2" />
  </head>

  <body id="search" class="CoveoSearchInterface pokedex" data-enable-history="true" data-enable-scroll-restoration="true">
    <div class="CoveoFacetsMobileMode" data-is-modal="true"></div>

    <div class="CoveoAnalytics" data-search-hub="Pokemon Finder"></div>
    <div class="intro">
      <h2 class="bit">
        POKEMON<br />
        FINDER
      </h2>
      <h5 class="bit">Gotta find'em all</h5>
      <img src="img/gif1.gif" class="pik" id="gif" />
      <img src="img/txt1.png" class="txt" id="giftxt" />
    </div>

    <div class="coveo-tab-section bit">
      <a class="CoveoTab" data-id="Pokedex" data-caption="Pokedex"></a>
      <a class="CoveoTab" data-id="Items" data-caption="Items"></a>
      <a class="CoveoTab" data-id="About" data-caption="About"></a>
    </div>

    <div class="coveo-search-section" data-tab-not="About">
      <div class="CoveoSearchbox" data-clear-filters-on-new-query="false">
        <div class="CoveoFieldSuggestions" data-field="@pokname" data-header-title="Pokemon Name"></div>
      </div>
    </div>

    <div class="coveAo-main-section" data-tab-not="About">
      <div class="coveo-facet-column">
        <div class="CoveoDynamicFacetManager">
          <div class="CoveoDynamicFacet" data-tab="Pokedex" data-field="@poktype" data-title="Type"></div>
          <div class="CoveoDynamicFacet" data-tab="Pokedex" data-field="@pokspecies" data-title="Species"></div>
          <div class="CoveoDynamicFacet" data-tab="Pokedex" data-field="@pokabilities" data-title="Abilities"></div>
          <div class="CoveoDynamicFacet" data-tab="Pokedex" data-field="@pokgeneration" data-title="Generation"></div>
          <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokweight" data-title="Weight" data-start="0" data-end="1000" data-range-slider="true" data-graph-steps="10" data-title="Weight"></div>
          <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokheight" data-title="Height" data-start="0" data-end="15" data-range-slider="true" data-graph-steps="14" data-title="M - Height"></div>
        </div>
        <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokft" data-start="0" data-end="15" data-range-slider="true" data-graph-steps="15" data-title="M - Height"></div>
        <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokhp" data-start="0" data-end="300" data-range-slider="true" data-graph-steps="10" data-title="HP - Health"></div>
        <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokatk" data-start="0" data-end="300" data-range-slider="true" data-graph-steps="10" data-title="Attack"></div>
        <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokdef" data-start="0" data-end="300" data-range-slider="true" data-graph-steps="10" data-title="Defense"></div>
        <div class="CoveoFacetSlider" data-tab="Pokedex" data-field="@pokspeed" data-start="0" data-end="300" data-range-slider="true" data-graph-steps="10" data-title="Speed"></div>
      </div>

      <div class="coveo-results-column">
        <div class="CoveoShareQuery"></div>
        <div class="CoveoPreferencesPanel">
          <div class="CoveoResultsPreferences"></div>
          <div class="CoveoResultsFiltersPreferences"></div>
        </div>
        <div class="CoveoTriggers"></div>
        <div class="CoveoBreadcrumb"></div>
        <div class="CoveoSearchAlerts"></div>
        <div class="coveo-results-header">
          <div class="coveo-summary-section">
            <span class="CoveoQuerySummary"></span>
            <span class="CoveoQueryDuration"></span>
          </div>
          <div class="coveo-sort-section">
            <div class="CoveoSortDropdown">
              <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
              <span class="CoveoSort" data-sort-criteria="@pokheight ascending" data-caption="Height ↑"></span>
              <span class="CoveoSort" data-sort-criteria="@pokheight descending" data-caption="Height ↓"></span>
              <span class="CoveoSort" data-sort-criteria="@pokweight ascending" data-caption="Weight ↑"></span>
              <span class="CoveoSort" data-sort-criteria="@pokweight descending" data-caption="Weight ↓"></span>
            </div>
          </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport" data-pop-up="false"></div>
        <div class="CoveoResultList items" data-wait-animation="fade" data-auto-select-fields-to-include="false" data-layout="list" data-tab="Items">
          <script id="items" class="result-template" type="text/underscore">
            {{
              var itemname = raw.itemname;
              itemname = itemname.slice(0,-7);
              var lowerItemName = itemname.toLowerCase();
              lowerItemName =  lowerItemName.replace(" ", "-")
            }}
            <div class="coveo-result-frame">
              <div class="coveo-result-row">
                <img class="item-img" src="https://img.pokemondb.net/sprites/items/{{- lowerItemName}}.png">
                <a class="CoveoResultLink">{{- itemname }}</a>
              </div>
              <div class="coveo-result-row">
                <%= highlightStreamText(raw.itemeffect) %>
              </div>
            </div>
          </script>
        </div>
        <div class="CoveoResultList" data-wait-animation="fade" data-auto-select-fields-to-include="false" data-layout="card"  data-tab="Pokedex">
          <script id="pokedex" class="result-template" type="text/underscore">
              {{ var pokname = raw.pokname.toLowerCase(); }}
              <div class="coveo-result-frame">

                <div class="coveo-result-row">
                  <div class="pokimg-wrapper">
                    <a href="http://pokemondb.net/pokedex/{{- pokname }}">
                        <!-- <img class='pokimg'src="https://img.pokemondb.net/sprites/black-white/normal/{{- pokname}}.png" alt="{{- pokname}}"> -->
                        <img class="pokimg" src="{{- raw.pokimage }}">
                    </a>
                  </div>
                    <div class="CoveoQuickview">
                    </div>
                    <div class="coveo-result-row" style="padding-left:15px;">
                        <div class="coveo-result-row">
                            <div class="coveo-result-cell" style="font-size:18px;">
                                <a class="CoveoResultLink">
                                    <text class='pokname'>#<%- raw.poknumber %> - <%- raw.pokname %></text>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coveo-result-row">
                    <div class="coveo-result-cell">
                        <table class="">
                            <tbody>
                                <tr class='tr-dtl'>
                                    <td class='td-tit'>Type</td>
                                    <td><%- raw.poktype %></td>
                                    <td class='td-tit'><img src='img/hp.png' title='HP'></td>
                                    <td><%- raw.pokhp %></td>
                                </tr>
                                <tr class='tr-dtl'>
                                    <td class='td-tit'>Species</td>
                                    <td><%- raw.pokspecies %></td>
                                    <td class='td-tit'><img src='img/atk.png' title='Attack'></td>
                                    <td><%- raw.pokatk %></td>
                                </tr>
                                <tr class='tr-dtl'>
                                    <td class='td-tit'>Abilities</td>
                                    <td><%- raw.pokabilities %> <%- raw.poksmallabilities %></td>
                                    <td class='td-tit'><img src='img/def.png' title='Defense'></td>
                                    <td><%- raw.pokdef %></td>
                                </tr>
                                <tr class='tr-dtl'>
                                    <td class='td-tit'>{{ if(raw.pokgeneration) { }} Generation {{ } }}</td>
                                    <td><%- raw.pokgeneration %></td>
                                    <td class='td-tit'><img src='img/speed.png' title='Speed'></td>
                                    <td><%- raw.pokspeed %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
          </script>
        </div>
        <div class="CoveoPager"></div>
      </div>
    </div>

    <div class="abo" data-tab="About"></div>

    <script src="js/bundle.min.js"></script>
    <script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.9159/js/CoveoJsSearch.Lazy.min.js"></script>
    <script src="https://static.cloud.coveo.com/searchui/v2.9159/js/templates/templates.js"></script>
    <script>
      Coveo.SearchEndpoint.configureCloudV2Endpoint("vbernardpokemonchallenge7l6z2kv0", "xx316bbb52-d546-4149-bb3a-9b9abd3267bf");
      Coveo.init(document.body);
    </script>
  </body>
</html>
